<div class="container">
  <div class="row">
    <div class="col-md-7">
      <p id="notice"><%= notice %></p>

      <h1>New International</h1>

      <%= render 'form', international: @international %>

      <%= link_to 'Back', internationals_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>


