// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  position: relative;
  min-height: 100%;
 }

body {
  height: 100%;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
  overflow: auto;
}



h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

h3 {
font-size: 32px;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: $gray-light;
}

p {
font-size: 20px;
line-height: 1.7em;
}

/* header */

header {
    background-color:  #80ccff;
    font-size: 20px;
    padding-top: 5px;
    .navbar a {
      color: #ffffe6;
      font-size: 22px;
    }
}

/* footer */

footer {
  position: relative;
  background-color: white;
  bottom: 0;
  margin-top: -40px;
  text-align: center;
  border-top: 1px solid black;
  p {
    font-size: 12px;
  }
}


/* buttons */
.btn {
  margin: 2px;
}