<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar navbar-left">
      <%= link_to "Internationals", root_path %>  
    </div>
    <div class="navbar navbar-right">
      <a class="nav-item nav-link"><%= link_to "About", about_path %></a>
      <a class="nav-item nav-link"><%= link_to "Contact", contact_path %></a>
      <a class="nav-item nav-link"><%= link_to "Help", help_path %></a>
    </div>
  </div>
</header>